/* selector universal*/
/* propiedad valor*/
*{
    margin: 0px;
    padding: 0px;
}
/*selector body*/
body{
    background-color: #061524; /* color de fondo, similar al espacio profundo */
    color: #ffffff; /* color de letra blanco estelar */
    font-family: cursive; /* tipo de letra */
    font-size: 1em; /* tamaño de letra */
}

#contenedor{
    width: 90%;
    margin: 5px auto;
    border: 4px #7424d0 solid; 
    border-radius: 10px;
}
nav{
    background-color: #7424d0; 
    text-align: center;
    position: fixed;
    width: 90%;
}
nav ul li{
    display: inline-block;
    padding: 10px;
    margin-left: 25px;
}
nav ul li a{
    color: #ffffff;
    font-family: cursive;
    font-size: 1.2em;
    text-decoration: none;
    
}
a:hover{
    color: #da5ae6; 
    text-decoration: underline;
}
header{
    margin-top: 45px;
    height: 150px;
    background: #000000 url("../img/ai-generated-concept-of-web-banner-magic-color-galaxy-horizontal-space-background-with-realistic-nebula-stardust-and-shining-stars-infinite-universe-and-starry-night-sky-photo.jpg");
    text-align: center;
    line-height: 150px;
    color: #ffffff; 
}
h2,h3,h4,h5{
    text-align: center;
    margin: 10px;
    color: #de43d6;
}
p{
    padding: 10px;
    text-align: justify;
    border: 1px #00bfff solid;
    border-radius: 10px;
    margin: 0px 25px;
}
.impar{
    color: #0059ff; 
    border-top-right-radius: 65px;
}
.par{
    color: #ffffff; 
    padding: 0px 50px;
}
hr{
    margin: 10px 0px;
    width: 70%;
    color:silver
}
.Caja{
    width: 80%;
    height: 30px;
    margin-left: 10%;
}
#panel{
    width:50%;
    margin: 10px auto;
    height: 200px;
    border: 1px silver dashed;
    border-radius: 10px;
}
.Boton{
    width: 50%;
    margin-top: 10px;
    background-color: #de43d6;
    color: white;
    margin-left: 25%;
    height: 40px;
    margin-bottom: 10px;
}
.altura{
    height: 80px;
}